@use "../../styles/tokens.scss" as *;

.alist {
  padding: 24px;

  &__filters {
    display: flex;
    margin-bottom: 20px;
  }
  &__filter {
    padding: 10px 28px;
    margin-right: 12px;
    border-radius: 999px;
    background: var(--bg-card);
    font-size: $font-sm;
    color: var(--text-secondary);
    &--active { background: var(--brand); color: #fff; }
  }
  &__item { margin-bottom: 20px; }
}
